<div id="links">
    <% FOREACH file IN files %>
    <a href="/uploads/<% file %>" title="<% file %>" data-gallery>
        <img src="/uploads/thumbs/<% file %>" alt="<% file %>">
    </a>
    <% END %>
</div>